<div class="row">
  <div class="col-xs-10">
    <div class="col-xs-12">
      <h2>Contacts</h2>
      <button class="btn btn-primary">New Contact</button>
    </div>
    <div class="col-xs-12">
      <ul class="list-group">
        <a
          class="list-group-item clearfix"
          cursor="pointer"
          *ngFor="let contact of contacts"
        >
          <div class="pull-left">
            <h4 class="list-group-item-heading">{{ contact.name }}</h4>
          </div>
          <span class="pull-right">
            <img
              [src]="contact.imageUrl"
              alt="{{ contact.name }}"
              class="image-responsive"
              style="height: 40px; margin-right: 10px"
            />
          </span>
        </a>
      </ul>
    </div>
  </div>
</div>
